[submodule "api/build/html"]
	path = api/build/html
	url = https://github.com/selibs/api
[submodule "libs/aura"]
	path = libs/aura
	url = https://github.com/MoritzBrueckner/aura
[submodule "libs/sshader"]
	path = libs/sshader
	url = https://github.com/selibs/sshader
[submodule "libs/slog"]
	path = libs/slog
	url = https://github.com/selibs/slog
[submodule "libs/sshortcut"]
	path = libs/sshortcut
	url = https://github.com/selibs/sshortcut
[submodule "libs/snet"]
	path = libs/snet
	url = https://github.com/selibs/snet
[submodule "libs/smacro"]
	path = libs/smacro
	url = https://github.com/selibs/smacro
[submodule "libs/sextensions"]
	path = libs/sextensions
	url = https://github.com/selibs/sextensions
[submodule "libs/swhitelist"]
	path = libs/swhitelist
	url = https://github.com/selibs/swhitelist
